@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,100&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
:root{
    --darkMode: #1A1A29;
    --lightMode: #f5f5f5f5;
    --primaryColor: #7562E0;
    --secondaryColor: #282162;
    --darkColor: #000036;
    --navBg: #181824;
}
.dark-mode{
    --darkMode: #f5f5f5f5;
    --lightMode: #1A1A29;
}

.wrapper{
    width: 100%;
    height: auto;
    background-color: var(--darkMode);
}

.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: var(--navBg);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    position: relative;
    z-index: 1;
    transition: all .50s ease;
}
.logo{
    color: var(--primaryColor);
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: 0;
    left: 0;
}
.menu{
    display: none;
}
.nav-list{
    display: flex;
    gap: 52px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
    transition: .50s ease;
}
.nav-link a:hover,
.nav-link a:focus{
    outline: none;
    color: var(--primaryColor);
}

.main{
    width: 80%;
    margin: 0 auto;
}
/* HERO SECTION */
#hero-section{
    width: 100%;
    height: calc(100vh );
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    justify-content: center;
}

#hero-section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 128px;
    left: 0px;
    top: 620px;
    background: #181824;
}

.hero-left{
    grid-column: 1 / span 2;
    grid-row: 2;
    color: var(--lightMode);
    place-self: start;
    align-self: center;
    position: relative;
    z-index: 0;
}

.hero-left-content span{
   font-size: 32px;
   font-weight: 600;
}

.hero-left-content h1{
   font-size: 52px;
   font-weight: 600;
}

.hero-left-content p{
   font-size: 18px;
   font-weight: 500;
}
.call-to-action{
    display: flex;
    gap: 32px;
    margin-top: 29px;
}
.cta-about a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    background-color: var(--primaryColor);
    width: 160px;
    height: 48px;
    border-radius: 8px;
    gap: 8px;
    transition: all .25s ease;
}

.cta-project a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    border: 2px solid var(--primaryColor);
    width: 160px;
    height: 48px;
    border-radius: 8px;
    transition: all .25s ease;
}
.cta-project a:hover,
.cta-about a:hover{
   transform: scale(1.2);
} 

.cta-about a, .cta-project a{
   text-decoration: none;
   color: #ffff;
   font-size: 16px;
   font-weight: 600;
}


.hero-right{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
}
.hero-right::before{
    content: '';
    position: absolute;
    width: 486px;
    height: 486px;
    left: 0;
    top: 0;
    background-color: var(--primaryColor);
    clip-path: circle(50% at 50% 89%);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.hero-right-content img{
    width: 444px;
    height: 488px;
    transform: rotateY(150deg);
    filter: drop-shadow(-25px 0px 25px #1A1A29);
}


/* ABOUT SECTION */

#about-section{
  display: flex;
  flex-direction: column;
}

.about-me{
  margin-bottom: 58px;
}

.about-me h1{
  font-weight: 600;
  font-size: 32px;
  color: var(--primaryColor);
}
.about-me p{
  line-height: 32px;
  font-size: 18px;
  color: #fff;
}
.about-me-para{
    width: 85%;
}
.about-me .exp{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 22px;
}
.about-me .exp p:nth-child(1){
    font-weight: 600;
    font-size: 96px;
    color: var(--primaryColor);
}
.about-me .exp p:nth-child(2){
    font-weight: 500;
    font-size: 24px;
}

.exp-para{
    width: 80%;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;  
}
.skill{
    width: 256px;
    height: 254px;
    background: #BDBDBD;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .25s ease;
}
.skill:hover{
   background-color: var(--primaryColor);
   transform: translate(4px, 2px);
}
.skill p{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding: 0 28px 24px;
}

.about-icons i{
    font-size: 64px;
    font-weight: 600;
}

.other-services{
    margin-top: 80px;
}
.other-services h1{
    margin-bottom: 32px;
    color: var(--primaryColor);
    font-size: 32px;
    font-weight: 600;
}
.other-services p{
    color: #ffff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding-left: 22px;
    padding-right: 23px;
    padding-top: 18px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 22px;
}
.service{
    width: 341px;
    height: 338px;
    border: 3px solid #7562E0;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:nth-child(2),
.service:nth-child(4),
.service:nth-child(6){
   border: 3px solid #fff;
}
.two, .four, .six{
    color: #7562E0 !important;
}
.service p:nth-child(2){
    font-weight: 600;
    font-size: 24px;
}
.service-content{
    transition: all .25s ease;
}
.service-content:hover{
    transform: scale(1.1);
}
/* FEATURED PROJECT */

#projects{
    margin-top: 80px;
}
#projects p{
    color: #fff;
}
.featured-project{
    margin-top: 16px;
    margin-bottom: 36px;
}
.featured-project h1{
    font-weight: 600;
    font-size: 32px;
    color: var(--primaryColor);
}
.featured-project p{
    width: 85%;
    font-weight: 500;
    font-size: 18px;
    color: var(--primaryColor);
}
.featured-project-card{
    display: flex;
    column-gap: 17px;
    row-gap: 28px;
    flex-wrap: wrap;
}
.project-card{
    width: 343px;
    height: 417px;
    background: #31313F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
}
.thumbnail{
    width: 311px;
    height: 173px;
    background: linear-gradient(180deg, rgba(24, 24, 36, 0.25) 0%, rgba(117, 98, 224, 0.5) 100%);
    background-blend-mode: multiply;
    border-radius: 8px;
    overflow: hidden;
}
.thumbnail img{
        width: 311px;
        height: 173px;
        opacity: .5;
        transition: all .50s ease;
        object-fit: cover;
    }
.thumbnail img:hover{
        transform: scale(1.2);
        opacity: 1;
    }
.description h1{
    color: var(--primaryColor);
    padding: 16px 0 5px 0;
}
.description p{
    font-weight: 500;
    font-size: 18px;
}
.project-card-btn{
    margin-top: 24;
    display: flex;
    gap: 18px;
}
.project-card-btn a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;
    transition: all .25s ease;
}
.project-card-btn a:hover{
    transform: scale(1.1);
}
.project-card-btn a:nth-child(1){
    width: 145px;
    height: 43px;
    background: #7562E0;
    border-radius: 8px;
    line-height: 43px;
}
.project-card-btn a:nth-child(2){
    width: 145px;
    height: 43px;
    border: 3px solid #7562E0;
    border-radius: 8px;
    line-height: 37px;
}

/* Contact */

#contact{
    margin-top: 128px;
    margin-bottom: 157px;
    display: flex;
    gap: 193px;
    padding-bottom: 64px;
}
.contact-left h1{
    font-weight: 600;
    font-size: 32px;
    color: #7562E0;
}
.contact-left p{
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
    margin-top: 16px;
    margin-bottom: 28px;
}
.contact-left ul{
    display: flex;
    gap: 21px;
    list-style: none;
}
.contact-left ul li a{
    font-size: 32px;
    color: #7562E0;
    transition: all .25s ease;
}
.contact-left ul li a:hover{
    color: #fff;
}

.contact-right form{
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-top: 24px;
}
.contact-right button{
    width: 174px;
    height: 50px;
    background: #7562E0;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.contact-right h2{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.contact-right input[type = 'text']{
    width: 472px;
    height: 62px;
    background-color: #31313F;
    border-radius: 8px;
    border: none;
}

.contact-right input[type = 'text']:nth-child(1),
.contact-right input[type = 'text']:nth-child(2){  
    padding: 19px 0px 19px 16px;
}
.contact-right input[type = 'text']:nth-child(3){  
    padding: 37px 0px 37px 16px;
}

.contact-right input::placeholder{
    font-weight: 500;
    font-size: 16px;
    color: #f5f5f5f5;
    opacity: .5;
}

.contact-right input:focus{
    outline: none;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0;
    background-color: var(--navBg);
    margin-top: 256px;
    flex-wrap: wrap;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.footer-menu ul li a{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primaryColor);
    text-decoration: none;
}
.footer-text{
    display:  flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.texts{
   text-align: center;
   margin-bottom: 16px;
}
.texts p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.texts h1{
   color:var(--primaryColor);
}
.emai-contactnum p{
    color: #ffff;
}
.emai-contactnum span{
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 3px;
}

.footer-social h1{
    font-weight: 600;
    font-size: 32px;
    color: #7562E0;
}
.footer-social p{
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
    margin-top: 16px;
    margin-bottom: 28px;
}
.footer-social ul{
    display: flex;
    gap: 21px;
    list-style: none;
}
.footer-social ul li a{
    font-size: 32px;
    color: #7562E0;
    transition: all .25s ease;
}
.footer ul li a:hover{
    color: #fff;
}
/* MEDIA QUERIES */
@media screen and (max-width: 568.98px ){

    #hero-section{
        display: flex;
        justify-content: center;
    }
    /* #hero-section::after{
        display: none;
    } */

    .hero-left{
        padding-left: 32px;
    }

    .hero-right-content img{
        display: none;
    }
  

     .hero-right::before{
       display: none;
    }

    .hero-left{
       top: -50px !important;
    }

    .hero-left-content span{
        font-size: 32px !important;
    }

    .hero-left-content h1{
        font-size: 52px !important;
    }

    .hero-left-content p{
        font-size: 18px !important;
    }
  
    .cta-about a, .cta-project a{
        width: 130px;
        height: 38px;
        font-size: 32px;
    }

    /* ABOUT */
    
    .about-me .exp p:nth-child(1){
        font-size: 64px;
    }
    .about-me .exp p:nth-child(2){
        font-weight: 500;
        font-size: 18px;
    }

    /* FEATURED PROJ */
    .featured-project-card{
     padding: 0 32px;
    }

    .project-card{
        width: 325px;
        height: 370px;
    }

    .thumbnail{
        width: 291px;
        height: 143px;
    }

    .description h1{
        font-size: 22px;
    }
    .description p{
        font-weight: 500;
        font-size: 16px;
    }
    .project-card-btn{
        margin-top: 24;
        display: flex;
        gap: 18px;
    }
    .project-card-btn a{
        font-size: 16px;
    }
    .project-card-btn a:hover{
        transform: scale(1.1);
    }
    .project-card-btn a:nth-child(1){
        width: 145px;
        height: 43px;
        background: #7562E0;
        border-radius: 8px;
        line-height: 43px;
    }
    .project-card-btn a:nth-child(2){
        width: 145px;
        height: 43px;
        border: 3px solid #7562E0;
        border-radius: 8px;
        line-height: 37px;
    }

    /* CONTACTS */

    .contact-right button{
        width: 100%;
        height: 50px;
    }
    .contact-right input[type = 'text']{
        width: 100%;
    }

    .contact-right input::placeholder{
        font-weight: 500;
        font-size: 16px;
        color: #f5f5f5f5;
        opacity: .5;
    }

}


@media screen and (max-width: 767.98px) {
    .main-nav{
        display: flex;
        justify-content: center;
    }
    .nav-list{
        display: none;
    }
    .block{
        display: block;
        position: absolute;
        top: 80px;
        padding-left: 10px;
        background-color: var(--navBg);
        width: 100%;
        opacity: 1;
    }
    .logo{
        color: var(--primaryColor);
        font-size: 18px;
        font-weight: 600;
    }
    .menu{
        display: block;
        position: absolute;
        left: 32px;
        top: 30px;
        color: #7562E0;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }
    .menu:focus{
        color:var(--secondaryColor);
    }
    
    .hero-right{
        top: -150px !important;
        left: 0;
    }

    .hero-left{
        top: -20%;
    }
    
    .hero-left-content span{
        font-size: 24px;
    }

    .hero-left-content h1{
        font-size: 42px;
    }

    .hero-left-content p{
        font-size: 16px;
    }
  
    .cta-about a, .cta-project a{
        width: 130px;
        height: 38px;
        font-size: 14px;
    }


    /* ABOUT */
    .services{
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-project-card{
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction:column-reverse;
        gap: 32px;
    }

    .footer-menu ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media (max-width: 991.98px) {
    #hero-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-right{
        top: -150px;
        left: 0;
    }
    .hero-left{
        top: -120px;
    }
    .hero-right-content img{
        width: 300px;
        height: 388px;
    }
    .hero-right::before{
        content: '';
        width: 386px;
        height: 386px;
        top: 0px;
        left: -17px;
    }
        .hero-left-content span{
        font-size: 24px;
    }

    .hero-left-content h1{
        font-size: 42px;
    }

    .hero-left-content p{
        font-size: 16px;
    }
  
    .cta-about a, .cta-project a{
        width: 130px;
        height: 38px;
        font-size: 14px;
    }

    #contact{

        display: flex;
        flex-direction: column;

    }
}